<%- include("partials/head")  %>
<body>
    <%- include("partials/nav") %>
    <ul>
        <% for(let cat of cats) { %>
            <li><%= cat %></li>
        <% } %>
        <%  %>
    </ul>
</body>
</html>